---
import { PROJECTS } from "@constants";
import ProjectItem from "./ProjectItem.astro";

import GitMergeIcon from "@icons/GitMergeIcon.astro";
import Container from "@components/Container.astro";
---

<Container
  title="Proyectos"
  id={"projects"}
  icon={GitMergeIcon}
  link="https://github.com/OussamaAtifii?tab=repositories"
>
  <div class="grid sm:grid-cols-1 gap-12">
    {
      PROJECTS.map((project, index) => (
        <ProjectItem {...project} index={index} />
      ))
    }
  </div>
</Container>
