---
import Certifications from "@components/Certifications.astro"
import Layout from "../layouts/Layout.astro"

import Description from "@components/Description.astro"
import Experience from "@components/experience/Experience.astro"
import Footer from "@components/Footer.astro"
import Projects from "@components/projects/Projects.astro"
import Skills from "@components/Skills.astro"
import Container from "@components/Container.astro"
import BriefCaseIcon from "@icons/BriefCaseIcon.astro"
---

<Layout title="Porfolio Oussama Atifi - Desarrollador Web FullStack">
  <main
    class="mx-auto max-w-4xl flex flex-col gap-20 sm:gap-24 min-h-screen relative py-4 [&>section]:px-4 sm:[&>section]:px-0"
  >
    <Description />
    <Experience />
    <Projects />
    <Certifications />
    <Skills />
    <Footer />
  </main>
</Layout>
