---
import Layout from "../layouts/Layout.astro"
import Description from "../components/Description.astro"
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import AboutMe from "../components/AboutMe.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="Porfolio Oussama Atifi - Desarrollador Web FullStack">
  <main
    class="mx-auto max-w-4xl flex flex-col gap-20 sm:gap-28 min-h-screen relative py-4 [&>section]:px-4 sm:[&>section]:px-0"
  >
    <Description />
    <Experience />
    <Projects />
    <AboutMe />
    <Footer />
  </main>
</Layout>
