---
import UserIcon from "../icons/UserIcon.astro"
---

<section>
  <div class="flex items-center mb-7 gap-x-2">
    <UserIcon class="size-10" />
    <h2 class="font-medium text-2xl">About Me</h2>
  </div>
  <article
    class="flex flex-col-reverse sm:flex-row gap-12 items-center justify-center"
  >
    <img
      height="200"
      width="200"
      class="aspect-square rounded-2xl p-1 ring-1 w-60 order-1 sm:order-1"
      src="/profile.webp"
      alt="Imagen de Oussama Atifi"
    />
    <div
      class="col-span-3 [&>p]:mb-4 [&>p]:text-pretty [&>p>span]:text-dodger-blue-700 [&>p>span]:font-semibold"
    >
      <p>
        I'm a naturally <span>curious</span> person who enjoys discovering new things
        and how they work.
      </p>
      <p>
        Since I was a child, I've had an interest about the world of technology.
        Over the years, that passion has only grown, driving me to continually
        <span>learn</span> and develop my skills.
      </p>
      <p>
        As a full-stack developer, I enjoy working on both frontend and backend
        challenges. My <span>proactive</span> approach helps me stay updated with
        new technologies and improve my skills.
      </p>
    </div>
  </article>
</section>
