<section
  class="font-medium text-lg sm:text-xl text-pretty mt-8 [&>p]:mb-4 animate-slidein200"
>
  <div class="flex items-center gap-4 mb-4">
    <a
      href="https://www.linkedin.com/in/oussama-atifi/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <div class="flex items-center">
        <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
          <span
            class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
          ></span>
          <div
            class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
          >
            Open to work
          </div>
        </span>
      </div>
    </a>
  </div>
  <p>
    Hi, I'm
    <span class="shine-text">Oussama</span>, a full stack developer with
    <span class="shine-text">+1 years of experience</span>
    from Almería, Spain 🇪🇸.
  </p>
  <p>
    I specialize in backend development and enjoy exploring new technologies to
    continue learning and enhancing my skills.
  </p>
</section>
