---
import OpenToWorkBadge from "@components/badges/OpenToWorkBadge.astro";
import LinkedIn from "@icons/LinkedIn.astro";
import Mail from "@icons/Mail.astro";
import Button from "./Button.astro";
---

<section class="text-pretty text-lg mt-8 animate-slidein200" id="about">
  <div class="inline-flex gap-4 items-center mb-4 flex-wrap">
    <h1 class="text-4xl font-medium">Oussama Atifi</h1>
    <OpenToWorkBadge />
  </div>

  <p class="text-xl [&>strong]:font-medium [&>strong]:text-dodger-blue-600">
    M치s de 1 a침o de experiencia como <strong>desarrollador web</strong> en Almer칤a,
    Espa침a 游쀯릖. Especializado en la <strong>automatizaci칩n</strong> de procesos y
    la creaci칩n de <strong>sitios web</strong> funcionales y eficaces.
  </p>

  <div class="flex gap-4 items-center mt-4">
    <Button
      href="mailto:oussamaati03@gmail.com"
      icon={Mail}
      text="Cont치ctame"
    />
    <Button
      href="https://www.linkedin.com/in/oussama-atifi/"
      icon={LinkedIn}
      text="LinkedIn"
    />
  </div>
</section>
