---
const year = new Date().getFullYear();
---

<footer class="flex justify-between items-center p-4 sm:px-0">
  <p>Oussama Atifi - {year} 🔹</p>
  <div class="flex justify-center items-center gap-8">
    <a href="mailto:oussamaati03@gmail.com" class="hover:underline">Contacto</a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="CV - Oussama Atifi Elgattaoui.pdf"
      class="hover:underline">CV</a
    >
  </div>
</footer>
