---
import Keyboard from "@icons/Keyboard.astro"
import Container from "./Container.astro"
import { getSkills } from "@lib/skillsService";

const skills = await getSkills();
---

<Container title="Skills" id="skills" icon={Keyboard}>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      skills.map((skill) => (
        <div class="p-5 border border-gray-700 bg-[#151519] rounded-lg shadow-lg transition-transform transform hover:-translate-y-1 hover:shadow-md duration-300">
          <h3 class="text-lg font-semibold text-white flex items-center gap-2 mb-4">
            <Keyboard class="size-5 text-gray-400" /> {skill.name}
          </h3>
          <div class="flex flex-wrap gap-2">
            {skill.stack.map((item) => (
              <span class="px-3 py-2 text-sm font-medium text-gray-300 bg-gray-800 rounded-md shadow-md">
                {item}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Container>
