---
import { SKILLS } from "@constants"
import Keyboard from "@icons/Keyboard.astro"
import Container from "./Container.astro"
---

<Container title="Skills" icon={Keyboard}>
  <div class="flex flex-col">
    <div class="flex flex-col gap-6">
      {
        SKILLS.map((skill) => (
          <div class="flex flex-col sm:flex-row">
            <p class="w-1/5 pb-2 sm:pb-0">{skill.name}</p>
            <div class="flex gap-2 sm:w-4/5 flex-wrap">
              {skill.items.map((item) => (
                <button class="border border-gray-300 px-2 py-1 rounded-md text-sm cursor-default">
                  {item}
                </button>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Container>
