---
import "@fontsource-variable/space-grotesk";
import "@fontsource-variable/work-sans";
import Header from "@components/Header.astro";
import Analytics from "@vercel/analytics/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Porfolio de Oussama Atifi, Desarrollador Web FullStack especializado en JavaScript, TypeScript, Angular, Node.js, PHP y Laravel. Descubre mis proyectos y habilidades"
    />
    <meta
      name="keywords"
      content="Desarrolador Web, FullStack, JavaScript, TypeScript, Angular, Node.js, PHP, Laravel, Portfolio"
    />
    <meta name="author" content="Oussama Atifi Elgattaoui" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph metadata -->
    <meta
      property="og:title"
      content="Oussama Atifi - Desarrollador Web FullStack"
    />
    <meta
      property="og:description"
      content="Soy Oussama Atifi, desarrollador web FullStack. Explora mi portafolio y conoce un poco más sobre mí."
    />
    <meta property="og:image" content="https://oussamaati.dev/preview.webp" />
    <meta property="og:url" content="https://oussamaati.dev" />
    <meta property="og:type" content="website" />

    <!-- Twitter Card metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Oussama Atifi - Desarrollador Web FullStack"
    />
    <meta
      name="twitter:description"
      content="Soy Oussama Atifi, desarrollador web FullStack. Explora mi portafolio y conoce un poco más sobre mí."
    />
    <meta name="twitter:image" content="https://oussamaati.dev/preview.webp" />

    <!-- Vercel Analytics -->
    <Analytics />

    <title>{title}</title>
  </head>
  <body class="py-4 lg:mx-0 max-w-screen bg-pattern">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Work Sans Variable", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  h1,
  h2,
  h3 {
    font-family: "Space Grotesk Variable", sans-serif;
  }

  .bg-pattern {
    --dot-bg: #151519;
    --dot-color: rgb(43, 43, 43);
    --dot-size: 1px;
    --dot-space: 16px;
    background:
      linear-gradient(
          90deg,
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      linear-gradient(
          var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
          transparent 1%
        )
        center / var(--dot-space) var(--dot-space),
      var(--dot-color);
  }

  .shine-text {
    font-weight: 500;
    letter-spacing: -0.5px;
    background:
      radial-gradient(circle at center, #50c5ff, transparent) -200% 50% / 200% 100%
        no-repeat,
      #0a71eb;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 5s 0.5s;
  }

  @keyframes shine {
    0% {
      background-position: -200% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
