---
import Header from "../components/Header.astro"
import "@fontsource-variable/rubik"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Porfolio Oussama Atifi - Desarrollador Web FullStack"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="py-4 lg:mx-0 max-w-screen">
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }

  * {
    transition-duration: 300ms;
  }

  html {
    font-family: "Rubik Variable", system-ui, sans-serif;
    background: #151519;
    scroll-behavior: smooth;
    color-scheme: light dark;
  }

  .shine-text {
    @apply text-xl font-semibold tracking-tight;
    background:
      radial-gradient(
          circle at center,
          theme(colors.dodger-blue.100 / 85%),
          transparent
        ) -200% 50% / 200% 100% no-repeat,
      theme(colors.dodger-blue.700);
    background-clip: text;
    color: transparent;
    animation: shine 5s 0.5s;
  }

  .shine-latest {
    @apply text-[10px] font-semibold tracking-tight;
    background:
      radial-gradient(
          circle at center,
          theme(colors.dodger-blue.100 / 85%),
          transparent
        ) -200% 50% / 200% 100% no-repeat,
      theme(colors.dodger-blue.700);
    background-clip: text;
    color: transparent;
    animation: shine 2s infinite;
  }

  @keyframes shine {
    0% {
      background-position: 200% 50%;
    }
    100% {
      background-position: -200% 50%;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
